body, div, header, main{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(52, 61, 143) ;
}

#logo img{
    width: 10px;
    border-radius: 10px;
}

#logo img{
    width: 20%;
    border-radius: 10px;
    border: 2px solid #fff;
}

#front img{
    width: 100px;
    border-radius: 10px;
}

#front img{
    width: 20%;
    border-radius: 10px;
    border: 2px solid #fff;
}

a{
    color:#ffffff;
    text-decoration: none;
}
a:hover{
    color: rgb(201, 199, 199);
    background: #1826e7;
}

ul{
    list-style: none;
}

li{
    text-align: left;
    padding: 2px 6px;
}
li:hover{
    border: 1px solid;
    background: white;
    font-weight: bold;
}
header{
    height: 100%;
    display: flex;
    align-items: center;
}

main{
    width: 100%;
    min-width: 50px;
    margin: 20px auto;
    padding: 10px 25px;
}

h3{
    color:#ffffff;
    text-decoration: none;    
}

footer{
    color: #ffffff;
    text-align: right;
    height: 2px;
    padding: 5px 0;
    width: 100%;

}